<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false">
  
	<appender class="org.apache.log4j.DailyRollingFileAppender"
		name="logfile_bug">
		<param value="true" name="Append" />
		<param value="'.'yyyy-MM-dd" name="datePattern" />
		<param value="logs/meetManage_debug.log" name="File" />
		<param value="DEBUG" name="Threshold" />
		<layout class="org.apache.log4j.PatternLayout">
			<param value="%d [%t] %p %c - %m%n" name="ConversionPattern" />
		</layout>
	</appender>

	<appender class="org.apache.log4j.DailyRollingFileAppender"
		name="logfile_error">
		<param value="true" name="Append" />
		<param value="'.'yyyy-MM-dd" name="datePattern" />
		<param value="logs/meetManage_error.log" name="File" />
		<param value="ERROR" name="Threshold" />
		<layout class="org.apache.log4j.PatternLayout">
			<param value="%d [%t] %p %c - %m%n" name="ConversionPattern" />
		</layout>
	</appender> 


	<appender class="org.apache.log4j.DailyRollingFileAppender"
		name="interceptorsfile_error">
		<param value="true" name="Append" />
		<param value="'.'yyyy-MM-dd" name="datePattern" />
		<param value="logs/common_error.log" name="File" />
		<param value="ERROR" name="Threshold" />
		<layout class="org.apache.log4j.PatternLayout">
			<param value="%d [%t] %p %c - %m%n" name="ConversionPattern" />
		</layout>
	</appender> 
	<appender class="org.apache.log4j.DailyRollingFileAppender"
		name="interceptorsfile_debug">
		<param value="true" name="Append" />
		<param value="'.'yyyy-MM-dd" name="datePattern" />
		<param value="logs/common_debug.log" name="File" />
		<param value="DEBUG" name="Threshold" />
		<layout class="org.apache.log4j.PatternLayout">
			<param value="%d [%t] %p %c - %m%n" name="ConversionPattern" />
		</layout>
	</appender> 


	<appender class="org.apache.log4j.ConsoleAppender" name="stdout">
		<param value="DEBUG" name="Threshold" />
		<layout class="org.apache.log4j.PatternLayout">
			<param value="%d [%t] %p %c - %m%n" name="ConversionPattern" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="debug" />
			<param name="levelMax" value="warn" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<appender class="org.apache.log4j.ConsoleAppender" name="error_stdout">
		<param value="DEBUG" name="Threshold" />
		<layout class="org.apache.log4j.PatternLayout">
			<param value="%d [%t] %p %c - %m%n" name="ConversionPattern" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="error" />
			<param name="levelMax" value="error" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	
	<!--请求通用拦截器-->
	<logger name="commonInterceptors">
		<level value="debug" />
		<appender-ref ref="interceptorsfile_debug" />
		<appender-ref ref="interceptorsfile_error" />
		<appender-ref ref="error_stdout" />
		<appender-ref ref="stdout" />
	</logger>
	
	<!--<logger name="com.kd">-->
		<!--<level value="debug" />-->
		<!--<appender-ref ref="logfile_bug" />-->
		<!--<appender-ref ref="logfile_error" />-->
		<!--<appender-ref ref="error_stdout" />-->
		<!--<appender-ref ref="stdout" />-->
	<!--</logger>-->

		<!---->
	<!--<logger name="java.sql">-->
		<!--<level value="debug" />-->
		<!--<appender-ref ref="logfile_bug" />-->
		<!--<appender-ref ref="logfile_error" />-->
		<!--<appender-ref ref="error_stdout" />-->
		<!--<appender-ref ref="stdout" />-->
	<!--</logger>-->
	<!---->
	<!--<logger name="org.springframework">-->
		<!--<level value="error" />-->
		<!--<appender-ref ref="logfile_bug" />-->
		<!--<appender-ref ref="logfile_error" />-->
	<!--</logger>-->

	<!--<logger name="org.logicalcobwebs">-->
		<!--<level value="error" />-->
		<!--<appender-ref ref="logfile_bug" />-->
		<!--<appender-ref ref="logfile_error" />-->
	<!--</logger>-->

	<!--<logger name="org.apache.cxf">-->
		<!--<level value="error" />-->
		<!--<appender-ref ref="logfile_bug" />-->
		<!--<appender-ref ref="logfile_error" />-->
	<!--</logger>-->

	<!--<logger name="org.quartz">-->
		<!--<level value="error" />-->
		<!--<appender-ref ref="logfile_bug" />-->
		<!--<appender-ref ref="logfile_error" />-->
	<!--</logger>-->

	<!--<logger name="org.apache.xml">-->
		<!--<level value="error" />-->
		<!--<appender-ref ref="logfile_bug" />-->
		<!--<appender-ref ref="logfile_error" />-->
	<!--</logger>-->
	<!---->
	<!--<logger name="org.apache.ws">-->
		<!--<level value="error" />-->
		<!--<appender-ref ref="logfile_bug" />-->
		<!--<appender-ref ref="logfile_error" />-->
	<!--</logger>-->
	<!---->
	<!--<logger name="org.apache.axis2">-->
        <!--<level value="error" />-->
        <!--<appender-ref ref="logfile_bug" />-->
        <!--<appender-ref ref="logfile_error" />-->
    <!--</logger>-->
    <!---->
    <!--<logger name="org.apache.axiom">-->
        <!--<level value="error" />-->
        <!--<appender-ref ref="logfile_bug" />-->
        <!--<appender-ref ref="logfile_error" />-->
    <!--</logger>-->
    <!---->
    <!--<logger name="org.apache.commons.httpclient">-->
        <!--<level value="debug" />-->
        <!--<appender-ref ref="logfile_bug" />-->
        <!--<appender-ref ref="logfile_error" />-->
    <!--</logger>-->
    <!---->
    <!--<logger name="httpclient">-->
        <!--<level value="debug" />-->
        <!--<appender-ref ref="logfile_bug" />-->
        <!--<appender-ref ref="logfile_error" />-->
    <!--</logger>-->
    <!---->
    <!--<logger name="org.apache.cxf.bus">-->
        <!--<level value="error" />-->
        <!--<appender-ref ref="logfile_bug" />-->
        <!--<appender-ref ref="logfile_error" />-->
    <!--</logger>-->
    <!---->
    <!--<logger name="org.apache.commons.beanutils">-->
        <!--<level value="error" />-->
        <!--<appender-ref ref="logfile_bug" />-->
        <!--<appender-ref ref="logfile_error" />-->
    <!--</logger>-->

	<!--<logger name="com.sun.jersey.api.container.filter.LoggingFilter">-->
		<!--<level value="info" />-->
		<!--<appender-ref ref="logfile_bug" />-->
		<!--<appender-ref ref="stdout" />-->
	<!--</logger>-->
   
	<root>
		<level value="debug" />
		<appender-ref ref="logfile_bug" />
		<appender-ref ref="logfile_error" />
		<appender-ref ref="error_stdout" />
		<appender-ref ref="stdout" />
	</root>

</log4j:configuration>